/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.content {

  * {
    font-family: "proxima-nova",Helvetica,Arial,sans-serif;
    color: #333;
  }

  width: 500px;
  margin: 200px auto;
  text-align: center;
  padding: 30px 40px 25px 40px;
  input[type="text"], input[type="password"], input[type="email"], textarea, .text-field, .text-area, select[multiple] {
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16) inset;
    box-sizing: border-box;
    color: #333;
    //display: block;
    font-family: "proxima-nova",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 8px 10px;
    //position: relative;
    width: 400px;
  }
  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, .text-field:focus, .text-area:focus, select[multiple]:focus {
    border-color: #4477bd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  }
  font-size: 13px;
  #url-title {
    margin-top: 20px;

  }
}